<div id="instructions_title">
  Instructions
</div>

<ol>
  <li>Go to "Create a New Resume"</li>
  <li>Fill Out Form Data</li>
  <li>Press Submit</li>
  <li>Go to "View All Resumes" to see all
    saved resumes</li>
  <li>Thank God You Didn't Have to Format
    Your Own Resume!</li>
</ol>